
/* Desktop style sheets */

.side-bar-btn {
  transition: all 0.5s ease;
  font-size: 13px;
}

.side-bar-btn:hover {
  transition: all 0.5s ease;
  font-size: 14.5px;
}

/* Mobile style sheets */

@media screen and (max-width: 800px) {
  .side-bar-btn {
    font-size: 12px;
  }

  .side-bar-btn-div {
    width: 65px;
  }
  
  .side-bar-btn:hover {
    font-size: 13px;
  }
}